.ache-adder {
	background: #ddd;
	border-radius: 6px;
	padding: 5px 6px 5px 10px;
	display: flex;
	gap: 6px;
	align-items: center;

	.label {
		margin-right: auto;
	}

	button {
		min-width: 4em;
		flex-shrink: 0;
		font-size: 12px;
		color: #000a;
		line-height: 24px;
	}
}
